<% resources.each do |resource| %> 
 <a href="#" class="list-group-item">
    <div class="content">
      <div class="name"><%= resource.name %></div>
      <div>
      	<span class="role"> <%=resource.d%></span>
      </div>
    </div>
  </a>

  <% end %>