<% staffs.each do |staff| %> 
 <a href="#" class="list-group-item">
    <div class="content">
      <span class="name"><%= staff.name %></span><span class="role"> (<%=staff.role%>)</span>
    </div>
  </a>

  <% end %>