<section id='content'>
  <h1>Students - <%= @staff.name %></h1>
  <div class="row">
    <br>
    <% if @staff.students.length > 0 %>
      <div id="infinite-scroll">
        <% @staff.students.each do |student| %>
          <div class="infinite col-md-4">
            <div class="item-container">
              <h4><%= link_to student.title, student_path(student), class: "item-link" %></h4>
            </div>
          </div>
        <% end %>
      </div>

      <nav id="page_nav">
        <a href="page2.html"></a>
      </nav>

    <% else %>
      <h4>There are no current students to show.</h4>
    <% end %>

  </div>
</section>