<div class="row">
  <div class="large-8 columns">
    <h2>Create a New Student!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: "", age: 0, gender: "", contact: "", grade_id: 0, staff_id: 0} %>
    </div>
  </div>
</div>