<section id='content'>
  <div class="container">
    <div class="page-header page-header-with-buttons">
                  <h1 class="pull-left">
                    <span>Grades</span>
                  </h1>
                  <div class="pull-right">
                    
                  </div>
                </div>
    <div class="row">
    <br>
    <% if @grades.length > 0 %>
         <% @grades.each do |grade|  %>

            <div class="infinite col-md-4">
              <div class="item-container">
                <h4><%= link_to grade.rank, grade_path(grade), class: "item-link" %></h4>
              </div>
            </div>
          <%end%>
    <% else %>
      <h4>There are no current grades to show.</h4>
    <% end %>

  </div>
</div>
</section>