<section id='content'>
  <div class="container">
    <div class="row" id="content-wrapper">
      <div class="col-xs-12">
        <div class="page-header page-header-with-buttons">
          <h1 class="pull-left">
            <span>Resources</span>
          </h1>
          <div class="pull-right">
            <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-success">Add resource</button>
          </div>
        </div>
    
      <div class="alert alert-warning"><h4>30 units of Sanitary Napkins missing</h4></div>
             <div class="row">
                <div class="col-sm-6 box">
                  <div class="box-header">
                    <div class="title">
                      <i class="icon-group"></i>
                      Inventory
                    </div>
                    <div class="actions">
                      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                      </a>
                      
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="list-group" id="inventory_list">
                       <%= render partial: "resourceListItem", locals: { resources:@resources } %>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-6 box">
                  <div class="box-header">
                    <div class="title">
                      <i class="icon-inbox"></i>
                      Requests
                    </div>
                    <div class="actions">
                      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                      </a>
                      
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                     <div class="list-group" id="school_orders">
                        <div class="list-group" id="inventory_list">
                          <%= render partial: "resourceListItem", locals: { resources:@requests } %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            
            
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="left:0%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Type of Resource!</h4>
      </div>
      <div class="modal-body">
       <div class="row">
          <div class="new-form">
            <%= render partial: 'form', :locals => {name: "", description: ""} %>
          </div>
        </div>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->