<section id='content'>
  <div class="container">
    <div class="row" id="content-wrapper">
      <div class="col-xs-12">
        <div class="page-header page-header-with-buttons">
          <h1 class="pull-left">
            <span>Resources</span>
          </h1>
          <div class="pull-right">
            <a href="resources/new" type="button" class="btn btn-success">Add resource</a>
          </div>
        </div>
    
      <div class="alert alert-warning"><h4>30 units of Sanitary Napkins missing</h4></div>
             <div class="row">
                <div class="col-sm-6 box">
                  <div class="box-header">
                    <div class="title">
                      <i class="icon-group"></i>
                      Inventory
                    </div>
                    <div class="actions">
                      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                      </a>
                      
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="list-group" id="inventory_list">
                       <%= render partial: "resourceListItem", locals: { resources:@resources } %>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-6 box">
                  <div class="box-header">
                    <div class="title">
                      <i class="icon-inbox"></i>
                      Requests
                    </div>
                    <div class="actions">
                      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                      </a>
                      
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                     <div class="list-group" id="school_orders">
                        <div class="list-group" id="inventory_list">
                          <%= render partial: "resourceListItem", locals: { resources:@requests } %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            
            
      </div>
    </div>
  </div>
</section>