<div class="row">
  <div class="large-8 columns">
    <h2>Create a New Type of Resource!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: "", description: ""} %>
    </div>
  </div>
</div>