<section id='content'>  
  <div class="row">
    <div class="col-md-9 text-center">
      <%= image_tag @resource.image_url %>
      <h2><%= @resource.name %></h2>
      <%= @resource.description %>
      <br>

    </div>
  </div>
</div>