<section id='content'>
  <h1>Staff at <%= @school %></h1>
  <div class="row">
    <br>
    <% if @staffs.length > 0 %>
      <div id="infinite-scroll">
        <% @staffs.each do |staff| %>
          <div class="infinite col-md-4">
            <div class="item-container">
              <%= link_to image_tag(staff.image_url, class: "story-image"), staff_path(staff) %>
              <h4><%= link_to "#{staff.name} - #{staff.role}, staff_path(staff), class: "item-link" %></h4>
            </div>
          </div>
        <% end %>
      </div>

      <nav id="page_nav">
        <a href="page2.html"></a>
      </nav>

    <% else %>
      <h4>There are no current staff members to show.</h4>
    <% end %>

  </div>
</section>