<div class="row">
  <div class="large-8 columns">
    <h2>Create a New Staff Member!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: "", role: "", school_id: 0} %>
    </div>
  </div>
</div>