<section id='content'>  
  <div class="row">
    <div class="col-md-9 text-center">
      <%= image_tag @staff.image_url %>
      <h2><%= @staff.name %></h2>
      <%= @staff.description %>
      <br>

    </div>
  </div>
</div>